.blog__link {
  text-decoration: none;
  color: inherit;
}

.blog-container {
  margin-top: 3rem;
  padding: 3rem;
  border: 2px solid rgb(71, 164, 240);
  transition: all 0.2s;
}
.blog-container:hover {
  background-color: rgb(71, 164, 240);
  color: #eee;
}
.blog-container:hover .blog__sub-heading {
  color: #eee;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blogs__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem 0;
  text-align: center;
}

.blog__heading {
  font-size: 3rem;
  text-transform: capitalize;
}
.blog__sub-heading {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(71, 164, 240);
  padding-bottom: 1.2rem;
  transition: all 0.2s;
}
.blog__content {
  font-size: 1.8rem;
  font-weight: 300;
}
